[submodule "include/abseil-cpp"]
	path = include/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "include/SDL"]
	path = include/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "include/SDL_image"]
	path = include/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = SDL2
[submodule "include/SDL_ttf"]
	path = include/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	branch = SDL2
[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "include/nlohmann"]
	path = include/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "include/googletest"]
	path = include/googletest
	url = https://github.com/google/googletest.git
[submodule "include/sqlite"]
	path = include/sqlite
	url = https://github.com/sqlite/sqlite.git
[submodule "include/cereal"]
	path = include/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "include/ImGuiFileDialog"]
	path = include/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
